@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.card{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(91, 10, 90, 0.35) 0px 5px 15px;
    transform: translateY(-10px);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter{
    color: #2e1065;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
}